div span {
  width: 5em;
  height: 5em;
  background-color: darkcyan;
  display: inline-block;
  border-radius: 50%;
}

.container {
  display: grid;
  grid-gap: 1em;
  background-color: lightblue;
  font-size: 10px;
}

.container:nth-child(1) {
  grid-template-columns: repeat(4, 1fr);
}

.container:nth-child(2) {
  grid-template-columns: repeat(3, 1fr);
}

.container:nth-child(3) {
  grid-template-columns: repeat(2, 1fr);
}
