figure {
  background-color: bisque;
  height: 500px;
  width: 500px;
  position: relative;
  color: dodgerblue;
}
.lens {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 1em solid;
  border-radius: 50%;
}
.handle {
  position: absolute;
  width: 2em;
  height: 10em;
  background-color: currentColor;
  left: 10em;
  top: 10em;
  border-radius: 0 0 1em 1em;
  transform: rotate(-45deg);
  transform-origin: top;
}
