* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: oldlace;
  font-family: sans-serif;
  color: #444;

  border-top: 10px solid #1098ad;
  position: relative;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}
.post-header {
  margin-bottom: 40px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}
.post-img {
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header-container {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

.related-posts {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

article {
  margin-bottom: 60px;
}
nav a:link {
  margin-right: 50px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}
.like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::after {
  content: "TOP";
  background-color: gold;
  font-size: 20px;
  margin-left: 5px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: -25px;
  top: -25px;
  color: white;
  border-radius: 15px;
}
/* .author-img {
  float: left;
}
.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clear-fix::after {
  content: " ";
  clear: both;
  display: block;
}
article {
  float: left;
  width: 60%;
}
aside {
  float: right;
  width: 35%;
}
footer {
  clear: both;
} */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.author {
  margin-bottom: 0;
  margin-left: 15px;
}
.related-post {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.related-link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 4px;
  display: block;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.related img {
  width: 50px;
  height: 50px;
}
/* .row {
  display: flex;
  gap: 10%;
  margin-bottom: 60px;
  align-items: flex-start;
}
article {
  flex: 1;
  margin-bottom: 0;
}
aside {
  flex: 0 0 30%;
} */

.container {
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-between;
  align-items: start;
  row-gap: 60px;
}
.header-container {
  grid-row: 1/2;
  grid-column: 1/-1;
  margin: 0;
}
footer {
  grid-row: 3/3;
  grid-column: 1/-1;
}
article {
  margin-bottom: 0;
}
